header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li{
    display: inline-block;
    margin: 10px;
    list-style: none;
   
}
#inscreva-se-btn{
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 10px;
}
#inscreva-se-btn:hover{
    background-color: rgb(132, 14, 201);
    color: white;

}

a{
    color: white;
}

a:hover{
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#title{
    display: flex;
    flex-direction: column;
    line-height: 0px;
}

h1{
    font-weight: 200;
}